* {
    margin: 0;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style-type: none;
    padding: 0;
}


.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}


/*Font styles*/
@font-face {
    font-family: 'barlow-medium-webfont';
    src: url('assets/fonts/barlow-medium-webfont.woff') format('woff'),
    url('assets/fonts/barlow-medium-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'barlow-bold-webfont';
    src: url('assets/fonts/barlow-bold-webfont.woff') format('woff'),
    url('assets/fonts/barlow-bold-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter24pt-Bold';
    src: url('assets/fonts/Inter24pt-Bold.woff2') format('woff2'),
        url('assets/fonts/Inter24pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter24pt-Medium';
    src: url('assets/fonts/Inter24pt-Medium.woff2') format('woff2'),
        url('assets/fonts/Inter24pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter24pt-SemiBold';
    src: url('assets/fonts/Inter24pt-SemiBold.woff2') format('woff2'),
        url('assets/fonts/Inter24pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter24pt-Regular';
    src: url('assets/fonts/Inter24pt-Regular.woff2') format('woff2'),
        url('assets/fonts/Inter24pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/*Global Notification*/
.global_notification {
    background-color: #634C9F;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 10px 150px;
}
.global_notification .left {
    font-family: 'Inter24pt-SemiBold', sans-serif;
    font-size: 12px;
    letter-spacing: -0.32px;
}
.global_notification .right {
    font-family: 'Inter24pt-Medium', sans-serif;
    font-size: 12px;
    letter-spacing: -0.32px;
}
.global_notification .right span {
    font-family: 'Inter24pt-Bold', sans-serif;
    font-size: 18px;
}

/*Header*/
header {
    padding: 10px 0;
}
header .top {
    font-family: 'Inter24pt-Medium', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 10px;
    border-bottom: 1px solid #E5E7EB;
}
header .top .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .top .left {

}
header .top .left li {
   margin-right: 10px;
}
header .top .left li a {
    font-size: 14px;
    color: #6B7280;
}
header .top .left .text {
    font-size: 14px;
    color: #6B7280;
}
header .top .left .text span {
    font-weight: 700;
    color: red;
}

header .top .right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .top .right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .top .right {

}
header .top .right li {
   margin-left: 10px;
}
header .top .right li a {
    font-size: 14px;
    color: #6B7280;
}
header .top .right li a img {
    margin-left: 8px;
}

/*header middle*/
header .middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid #E5E7EB;
}
header .middle .deliver {
    display: flex;
    flex-direction: column;
    align-items: start;
}
header .middle .logo {

}
header .middle .location{
    width: 20px;
}
header .middle .deliver span {
    font-family: 'Inter24pt-Regular', serif;
    letter-spacing: -0.32px;
    font-size: 13px;
    color: #6B7280
}
header .middle .deliver .bold {
    font-family: 'Inter24pt-Medium', serif;
    color: black;
    font-size: 15px;
}

#searchForm {
    display: flex;
    background-color: #F3F4F6;
    border-radius: 5px;
    padding: 5px;
    width: 680px;
}

#query {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F3F4F6;
}

button {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
header .middle {
    font-family: 'Inter24pt-Medium', sans-serif;
}

header .middle .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: end;
}
header .middle .right a {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-left: 10px;
}
header .middle .right a img {
    width: 20px;
}
header .middle .right a span {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 500;
    color: black;
}

/*header bottom*/

header .bottom {
    font-family: 'Inter24pt-SemiBold', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    border-bottom: 1px solid #E5E7EB;
    color: black;
}
header .bottom .left ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
header .bottom .left ul li {
    margin-right: 15px;
}
header .bottom .left ul li a {
    color: black;
    font-size: 15px;
}
header .bottom .left ul li .shop {
    color: #634C9F;
    padding-bottom: 15px;
    border-bottom: 2px solid #634C9F;
}
header .bottom .left ul li .fruitsvegitables {
    color: #634C9F;
    padding-bottom: 15px;
    border-bottom: 2px solid #634C9F;
}
header .bottom .left ul li a:hover {
    color: #634C9F;
}

header .bottom .right ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
header .bottom .right ul li {
    margin-left: 15px;
}
header .bottom .right ul li a {
    color: black;
    font-size: 15px;
}

header .bottom .right ul li .finished {
    color: red;
    
}
header .bottom .right ul li .finished span {
    color: #fff;
    background: linear-gradient(to right, #DC2626, #EA580C);
    padding: 8px;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
}
header .bottom .right ul li .finished img {
    color: red;
    width: 10px;
}


/*productsContainer*/
.productsContainer {
    
}
.productsContainer .topHeader {
    font-family: 'Inter24pt-Regular',sans-serif;
    font-size: 14px;
    color: #9CA3AF;
    margin-top: 20px;
    letter-spacing: -0.32px;
}
.productsContainer .topHeader img {
    margin-left: 3px;
}
.productsContainer .topHeader span {
    color: #000;
    margin-left: 10px;
    letter-spacing: -0.32px;
}
#bottomContainer {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 30px;
}
#bottomContainer .bottomLeft {
    flex: 0.2;
    padding-right: 30px;
}
#priceFilter {
    font-family: 'Inter24pt-Regular', sans-serif;
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E7EB;
}
#priceFilter h4 {
    font-family: 'Inter24pt-SemiBold', sans-serif;
    margin-bottom: 20px;
    font-size: 14px;
}

.price-filter {
    display: flex;
    flex-direction: column;
    
}

.price-inputs {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.price-inputs-min {
    display: flex;
    flex-direction: column;
}
.price-inputs-max {
    display: flex;
    flex-direction: column;
}
.price-inputs span {
    margin: 0 10px;
    position: relative;
    top: 8px;
}

.price-input {
    width: 115px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
}

.price-range {
    position: relative;
    width: 300px;
    height: 10px;
    margin-top: 10px;
}

.price-range input[type="range"] {
    position: absolute;
    width: 100%;
    height: 10px;
    opacity: 0;
}

.price-range-track {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #000;
    border-radius: 5px;
}

.price-range-thumb {
    position: absolute;
    top: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000;
    cursor: pointer;
}

.min-thumb {
    left: 0;
}

.max-thumb {
    right: 0;
}
.priceFilterBottom {
    font-family: 'Inter24pt-Regular', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.price-display {
    margin-bottom: 10px;
}

.filter-button {
    padding: 10px 20px;
    background-color: #E5E7EB;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.productCategories {
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E7EB;
}
.productCategories h4 {
    font-family: 'Inter24pt-SemiBold', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}

.productCategories ul {
    font-family: 'Inter24pt-Medium', sans-serif;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.productCategories ul li {
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
}

.productCategories ul li label {
    font-size: 14px;
    color: #030712;
}
.productCategories ul li label:hover {
    color:#634C9F;
}
.productCategories ul li input {
    border-radius: 4px;
    height: 16px;
    width: 16px;
    margin-right: 8px;
    border: 1px solid #D1D5DB;
    accent-color: #634C9F;
}
.productCategories ul li span {
    display: flex;
    align-items:end
}
.productCategories ul li span img {

}


.colorFilter {
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E7EB;
}
.colorFilter h4 {
    font-family: 'Inter24pt-SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}
.colorFilter .color {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.colorFilter .color .green {
    background-color: #81D742;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 17px;
}
.colorFilter .color h6 {
    font-family: 'Inter24pt-Regular', sans-serif;
    font-size: 14px;
}

.brandFilter {
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E7EB;
}
.brandFilter h4 {
    font-family: 'Inter24pt-SemiBold', sans-serif;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 600;
}
.brandFilter div {

}
.brandFilter div label {
    font-family: 'Inter24pt-Medium', sans-serif;
    font-size: 14px;
}
.productStatus {

}
.productStatus h4 {
    font-family: 'Inter24pt-SemiBold', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 20px;
}
.productStatus ul {

}
.productStatus ul li label {
    font-family: 'Inter24pt-Medium', sans-serif;
    font-size: 14px;
}
.productStatus ul li {
    margin-bottom: 10px;

}
.productStatus ul li label {
}

#filterSection {
    display: none;
}

#bottomContainer .bottomRight {
    flex: 0.8;
}
.bottomRight .top {
    padding-bottom: 20px;
}
.bottomRight .top ul {
    display: flex;
    flex-direction: row;
}
.bottomRight .top ul li {
    font-family: 'Inter24pt-Medium', sans-serif;
    color: #555555;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

#banner {
    background-image: url(assets/images/banner.jpg.jpg);
    height: 250px;
    background-repeat: no-repeat;
    padding: 40px 0px 0px 40px;
    border-radius: 6px;
}
#banner h6 {
    font-family: 'Inter24pt-SemiBold', sans-serif;
    color: #7C2D12;
    font-size: 10px;
    background-color: #FFEDD5;
    padding: 8px;
    display: inline;
    border-radius: 5px;
}
#banner h3 {
    font-family: 'Inter24pt-Bold', sans-serif;
    font-size: 30px;
    font-weight: 700;   
}
#banner p {
    font-family: 'Inter24pt-Regular', sans-serif;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#banner button {
    font-family: 'Inter24pt-Bold',sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 33px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#banner button img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

#products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin-bottom: 40px;
}
#products .productCard {
    box-shadow: 0 0 0 1px rgba(214, 212, 212, 0.5);
    width: calc(20% - 20px); 
    overflow: hidden;
    padding: 10px;
    background-color: #fff;
}
#products .productCard .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#products .productCard .top .offer {
    font-family: 'Inter24pt-Bold', sans-serif;
    font-weight: 800;
    background-color: red;
    padding: 8px 10px;
    color: #fff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    font-size: 12px;
}
#products .productCard .product {

}
#products .productCard h4 {
    font-family: 'Inter24pt-Medium', sans-serif;
    font-size: 13px;
    color: #000;
}
#products .productCard h4:hover {
    color: #6B7280;
}
#products .productCard .rating {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}
#products .productCard .rating  img {

}
#products .productCard .rating h6 {
    font-family: 'Inter24pt-Regular', sans-serif;
    margin-left: 10px;
}
#products .productCard .rate {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#products .productCard .offerRate {
    font-family: 'barlow-bold-webfont', sans-serif;
    color: #DC2626;
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
}
#products .productCard .mrp {
    font-family: 'barlow-medium-webfont', sans-serif;
    color: #111827;
    font-size: 14px;
    text-decoration-line:line-through;
}
#products .productCard .bottom {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}
#products .productCard .bottom .cart {
    background-color: #16A34A;
    padding: 8px;
    border-radius:8px;
    margin-right: 10px;
}
#products .productCard .stock {
    font-family: 'Inter24pt-Bold', sans-serif;
    font-size: 11px;
    color: #16A34A;
}


footer {
    padding-top: 50px;
    background-color: #F3F4F6;
}
footer .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 60px;
    border-bottom: 1px solid #D1D5DB;
}
footer .top .left {
    text-align: left;
}
footer .top .left h5 {
    font-family: 'Inter24pt-Bold', sans-serif;
    font-size: 22px;
    font-weight: 600;
}
footer .top .left p {
    font-family: 'Inter24pt-Regular', sans-serif;
    color: #6B7280;
    font-size: 13px;
    margin-top: 8px;
}
footer .top .right {
    text-align: left;
}
footer .top .right .email-container {

}
footer .top .right .email-container img {
    position: relative;
    right: -35px;
    bottom: -4px;
}
footer .top .right .email-container input {
    font-family: 'Inter24pt-Regular', sans-serif;
    padding: 13px 150px 13px 40px;
    border: 1px solid #D1D5DB;
}
footer .top .right .email-container .submit-button {
    font-family: 'Inter24pt-Bold',sans-serif;
    padding: 14px;
    background-color: #634C9F;
    color: #fff;
    position: relative;
    left: -5px;
}
footer .top .right p {
    font-family: 'Inter24pt-Regular', sans-serif;
    font-size: 12px;
    position: relative;
    right: -20px;
    margin-top: 10px;
}

footer .middle {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #D1D5DB;
}
footer .middle .one {
    display: flex;
    flex-direction: column;

}
footer .middle .one .Q {

}
footer .middle .one .Q h4 {
    font-family: 'Inter24pt-SemiBold',sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
footer .middle .one .Q p {
    font-family: 'Inter24pt-Regular', sans-serif;
    margin-bottom: 40px;
    font-size: 13px;
    color: #6B7280;
}
footer .middle .one .phone {
    display: flex;
    flex-direction: row;
}
footer .middle .one .phone img {
    width: 30px;
    margin-right: 20px;
}
footer .middle .one .phone .phoneT {
    
}
footer .middle .one .phone .phoneT p {
    font-family: 'Inter24pt-Regular', sans-serif;
    font-size: 14px;
    color: #6B7280;
}
footer .middle .one .phone .phoneT h4 {
    font-family: 'Inter24pt-Bold', sans-serif;
    font-size: 20px;
}
footer .middle .one .email {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
footer .middle .one .email img {
    width: 30px;
    margin-right: 20px;
}
footer .middle .one .email .emailT {

}
footer .middle .one .email .emailT p {
    font-family: 'Inter24pt-Regular', sans-serif;
    font-size: 14px;
    color: #6B7280;
}
footer .middle .one .email .emailT h4 {
    font-family: 'Inter24pt-SemiBold', sans-serif;
    font-size: 14px;
}

footer .middle .two {
    display: flex;
    flex-direction: row;
}
#money {
    margin-right: 30px;
}
#money h4 {
    font-family: 'Inter24pt-SemiBold',sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}
#money ul {

}
#money ul li {
    margin-bottom: 5px;
}
#money ul li a {
    font-family: 'Inter24pt-Regular',sans-serif;
    font-size: 13px;
    color: #6B7280;
    
}


#help {
    margin-right: 30px;
}
#help h4 {
    font-family: 'Inter24pt-SemiBold',sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}
#help ul {

}
#help ul li {
    margin-bottom: 5px;
}
#help ul li a {
    font-family: 'Inter24pt-Regular', sans-serif;
    font-size: 13px;
    color: #6B7280;
}
#know {

}
#know h4 {
    font-family: 'Inter24pt-SemiBold',sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}
#know ul {

}
#know ul li {
    margin-bottom: 5px;
}
#know ul li a {
    font-family: 'Inter24pt-Regular',sans-serif;
    font-size: 13px;
    color: #6B7280;
}

footer .middle .three {

}
footer .middle .three .t {

}
footer .middle .three .t h4 {
    font-family: 'Inter24pt-SemiBold', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}
footer .middle .three .A {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
footer .middle .three .A img {
    margin-right: 10px;
}
footer .middle .three .A p {
    font-family: 'Inter24pt-Medium', sans-serif;
    font-size: 12px;
    color: #6B7280;
}
footer .middle .three .B {
    display: flex;
    flex-direction: row;
}
footer .middle .three .B img {
    margin-right: 10px;
}
footer .middle .three .B p {
    font-family: 'Inter24pt-Medium', sans-serif;
    font-size: 12px;
    color: #6B7280;
}
footer .middle .three .b {
    margin-top: 60px;
}
footer .middle .three .b h4 {
    font-size: 18px;
    font-weight: 600;
}
#social {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
#social h4 {
    font-family: 'Inter24pt-Regular',sans-serif;
    font-size: 14px;
}
#social ul {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
#social ul li {
    margin-right: 10px;
}
#social ul li a {
    
}
#social ul li a img {
    background-color: #fff;
    padding: 10px;
    border-radius: 7px;
}


footer .bottom {
    font-family: 'Inter24pt-Regular',sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .bottom .left {
    display: flex;
    flex-direction: column;
}
footer .bottom .left p {
    font-family: 'Inter24pt-Medium',sans-serif;
    font-size: 14px;
    color: #6B7280;
}
footer .bottom .left ul {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
footer .bottom .left ul li {
    margin-right: 10px;
}
footer .bottom .left ul li a {
    font-size: 14px;
    color: #6B7280;
}
footer .bottom .left ul li a img {

}


footer .bottom .right {

}
footer .bottom .right ul {
    display: flex;
    flex-direction: row;
}
footer .bottom .right ul li {
    margin-left: 10px;
}
footer .bottom .right ul li a {
    
    font-size: 13px;
    color: #111827;
    text-decoration:underline
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .global_notification {
        padding: 10px 80px;
    }
    .global_notification .left {
        font-size: 12px;
    }
    .global_notification .right {
        font-size: 12px;
    }
    .global_notification .right span {
        font-size: 16px;
    }
    header .top .left li a {
        font-size: 12px;
    }
    header .top .left .text {
        font-size: 12px;
    }
    header .top .left .text span {
        font-size: 14px;
    }
    header .top .right li a {
        font-size: 12px;
    }
    header .middle .logo {
        width: 100px;
    }
    header .middle .location{
        width: 18px;
    }
    header .middle .deliver span {
        font-size: 12px;
    }
    header .middle .deliver .bold {
        font-size: 14px;
    }
    #searchForm {
        width: 580px;
    }
    header .middle .right a img {
        width: 18px;
    }
    header .middle .right a span {
        font-size: 12px;
    }
    header .bottom .left ul li a {
        font-size: 14px;
    }
    header .bottom .right ul li a {
        font-size: 14px;
    }
    .head {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #product .right h2 {
        font-size:28px;
    }
    #product .right .aboutProduct {
        font-size: 12px;
    }
    #products {
        flex-wrap: wrap;
        align-content: center;
    }
    #products .productCard {
        width: 22%;
    }
    footer .top .left h5 {
        font-size: 16px;
    }
    footer .middle .one .Q h4 {
        font-size: 14px;
    }
    #money h4 {
        font-size: 14px;
    }
    #help h4 {
        font-size: 14px;
    }
    #know h4 {
        font-size: 14px;
    }
    footer .top .left p {
        font-size: 12px;
    }

    footer .top .right .email-container input {
        padding: 13px 100px 13px 40px;
    }
    footer .top .right .email-container .submit-button {
        padding: 12px;
    }
    footer .top .right p {
        font-size: 10px;
    }
    footer .bottom .left p {
        font-size: 12px;
    }
    footer .bottom .right ul li a {
        font-size: 12px;
    }
    .productsContainer .topHeader {
        font-size: 12px;
    }
    #priceFilter h4 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    label {
        font-size: 12px;
    }
    .price-display {
        font-size: 12px;
    }
}
@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
    }
    .global_notification {
        padding: 10px 35px;
    }
    .global_notification .left {
        font-size: 10px;
    }
    .global_notification .right {
        font-size: 10px;
    }
    .global_notification .right span {
        font-size: 14px;
    }
    header .top .left li a {
        font-size: 12px;
    }
    header .top .left .text {
        font-size: 12px;
    }
    header .top .left .text span {
        font-size: 13px;
    }
    header .top .right li a {
        font-size: 12px;
    }
    header .middle .logo {
        width: 100px;
    }
    header .middle .location{
        width: 16px;
    }
    header .middle .deliver span {
        font-size: 10px;
    }
    header .middle .deliver .bold {
        font-size: 12px;
    }
    #searchForm {
        width: 380px;
    }
    header .bottom .left ul li a {
        font-size: 12px;
    }
    header .bottom .right ul li a {
        font-size: 12px;
    }
    #bottomContainer .bottomLeft {
        display: none;
    }
    #bottomContainer .bottomRight {
        flex: 1;
    }
    .productsContainer .topHeader img {
        width: 5px;
        height: 10px;
        margin-right: 10px;
        margin-left: 10px;
    }
    #product .left .productImg {
        width: 400px;
    }
    #about .top .description {
        font-size: 13px;
    }
    #about .top .review {
        font-size: 13px;
    }
    #about .bottom p {
        font-size: 12px;
    }
    footer .middle .one .Q h4 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    footer .middle .one .Q p {
        font-size: 10px;
    }
    footer .middle .one .phone img {
        width: 20px;
    }
    footer .middle .one .phone .phoneT p {
        font-size: 10px;
    }
    footer .middle .one .phone .phoneT h4 {
        font-size: 14px;
    }
    footer .middle .one .email img {
        width: 20px;
    }
    footer .middle .one .email .emailT p {
        font-size: 10px;
    }
    footer .middle .one .email .emailT h4 {
        font-size: 14px;
    }
    #money {
        margin-right: 10px;
    }
    #money h4 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    #money ul li a {
        font-size: 10px;
    }
    #help {
        margin-right: 10px;
    }
    #help h4 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    #help ul li a {
        font-size: 10px;
    }
    #know h4 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    #know ul li a {
        font-size: 10px;
    }
    footer .middle .three .t h4 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    footer .middle .three .A img {
        width: 80px;
    }
    footer .middle .three .B img {
        width: 80px;
    }
    footer .middle .three .A p {
        font-size: 10px;
    }
    footer .middle .three .B p {
        font-size: 10px;
    }
    #social h4 {
        font-size: 12px;
    }
    #social ul li a img {
        padding: 8px;
    }
    footer .bottom .left p {
        font-size: 10px;
    }
    footer .bottom .right ul li a {
        font-size: 9px;
    }
    #product .right .buttons .addToCart {
        align-items: center;
        padding: 8px 15px;
    }
    #product .right .buttons .addToCart img {
        margin-right: 5px;
    }
    #product .right .buttons .addToCart span {
        font-size: 10px;
    }
    #product .right .buttons .buyNow {
        align-items: center;
        padding: 8px 15px;
    }
    #product .right .buttons .buyNow img {
        margin-right: 5px;
    }
    #product .right .buttons .buyNow span {
        font-size: 10px;
    }
    #product .right .offer {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding: 10px;
    }
    #product .right .offer h4 {
        margin-bottom: 5px;
    }
    #product .right .offer ul {
        margin-bottom: 5px;
    }
    #product .right .buttons {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #product .right .whatsapp {
        font-size: 12px;
    }
    #product .right h2 {
        font-size: 20px;
    }
    footer .bottom {
        padding-top: 30px;
        padding-bottom: 30px;
        align-items: flex-start;
    }
    .productsContainer .topHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #filterSection {
        display: block;
        margin-left: 30px;
    }
    .filter-toggle {
        display: none; /* Hide the checkbox */
    }
    
    .filter-button {
        cursor: pointer;
        background-color: #007BFF;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
    }
    
    .filter-button:hover {
        background-color: #0056b3;
    }
    
    .filter-container {
        display: none;
        margin-top: 10px;
        border: 1px solid #ccc;
        padding: 15px;
        border-radius: 5px;
        background-color: #ffffff;
        z-index: 15;
    }
    
    .filter-toggle:checked + .filter-button + .filter-container {
        display: block; /* Show the filter container when checkbox is checked */
    }
}