* {
    margin: 0;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style-type: none;
    padding: 0;
}
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


@font-face {
    font-family: 'barlow-medium-webfont';
    src: url('/assets/fonts/barlow-medium-webfont.woff') format('woff'),
    url('/assets/fonts/barlow-medium-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'barlow-bold-webfont';
    src: url('/assets/fonts/barlow-bold-webfont.woff') format('woff'),
    url('/assets/fonts/barlow-bold-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'Inter24pt-Bold';
    src: url('/assets/fonts/Inter24pt-Bold.woff2') format('woff2'),
        url('/assets/fonts/Inter24pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter24pt-Medium';
    src: url('/assets/fonts/Inter24pt-Medium.woff2') format('woff2'),
        url('/assets/fonts/Inter24pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter24pt-SemiBold';
    src: url('/assets/fonts/Inter24pt-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/Inter24pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter24pt-Regular';
    src: url('/assets/fonts/Inter24pt-Regular.woff2') format('woff2'),
        url('/assets/fonts/Inter24pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/*Global Notification*/
.global_notification {
    background-color: #634C9F;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 10px 150px;
}
.global_notification .left {
    font-family: 'Inter24pt-SemiBold', sans-serif;
    font-size: 14px;
}
.global_notification .right {
    font-family: 'Inter24pt-Medium', sans-serif;
    font-size: 14px;
}
.global_notification .right span {
    font-family: 'Inter24pt-Bold', sans-serif;
    font-size: 20px;
}


/*Header*/
header {
    padding: 10px 0;
}
header .top {
    font-family: 'Inter24pt-Medium', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 10px;
    border-bottom: 1px solid #E5E7EB;
}
header .top .left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .top .left {

}
header .top .left li {
   margin-right: 10px;
}
header .top .left li a {
    font-size: 14px;
    color: #6B7280;
}
header .top .left .text {
    font-size: 14px;
    color: #6B7280;
}
header .top .left .text span {
    font-weight: 700;
    color: red;
}

header .top .right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .top .right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .top .right {

}
header .top .right li {
   margin-left: 10px;
}
header .top .right li a {
    font-size: 14px;
    color: #6B7280;
}
header .top .right li a img {
    margin-left: 8px;
}

/*header middle*/
header .middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    border-bottom: 1px solid #E5E7EB;
}
header .middle .deliver {
    display: flex;
    flex-direction: column;
    align-items: start;
}
header .middle .logo {

}
header .middle .location{
    width: 20px;
}
header .middle .deliver span {
    font-size: 14px;
    font-family: 'Inter24pt-Regular', serif;
}
header .middle .deliver .bold {
    font-size: 16px;
    font-family: 'Inter24pt-Medium', serif;
}

#searchForm {
    display: flex;
    background-color: #F3F4F6;
    border-radius: 5px;
    padding: 5px;
    width: 680px;
}

#query {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #F3F4F6;
}

button {
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
header .middle {
    font-family: 'Inter24pt-Medium', sans-serif;
}
header .middle .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: end;
}
header .middle .right a {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-left: 10px;
}
header .middle .right a img {
    width: 20px;
}
header .middle .right a span {
    margin-top: 5px;
    font-size: 14px;
    color: black;
}

/*header bottom*/

header .bottom {
    font-family: 'Inter24pt-SemiBold', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    border-bottom: 1px solid #E5E7EB;
    color: black;
}
header .bottom .left ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
header .bottom .left ul li {
    margin-right: 15px;
}
header .bottom .left ul li a {
    font-size: 16px;
    color: black;
}
header .bottom .left ul li .shop {
    color: #634C9F;
    padding-bottom: 15px;
    border-bottom: 2px solid #634C9F;
}
header .bottom .left ul li .fruitsvegitables {
    color: #634C9F;
    padding-bottom: 15px;
    border-bottom: 2px solid #634C9F;
}
header .bottom .left ul li a:hover {
    color: #634C9F;
}

header .bottom .right ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
header .bottom .right ul li {
    margin-left: 15px;
}
header .bottom .right ul li a {
    font-size: 16px;
    color: black;
}

header .bottom .right ul li .finished {
    color: red;
}
header .bottom .right ul li .finished span {
    color: #fff;
    background-color: red;
    padding: 8px;
    border-radius: 10px;
}


/*head*/
.head {
    font-family: 'Inter24pt-Regular', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
.head ul {
    display: flex;
    flex-direction: row;
}
.head ul li {
    margin-right: 10px;
    font-size: 12px;
    font-weight: 500;
}
.head ul li a {
   color: #9CA3AF;
}
.head ul li a img {

}


/*product*/
#product {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#product .left {
    flex: 0.5;
}
#product .left .top {
    
}
#product .left .top .offer {
    font-family: 'Inter24pt-Bold', sans-serif;
    font-size: 12px;
    background-color:#DC2626;
    color: #fff;
    padding: 5px 10px;
    border-radius: 13px;
    margin-right: 5px;
}
#product .left .top .organic {
    font-family: 'Inter24pt-Bold', sans-serif;
    font-size: 12px;
    background-color: #92ff04;
    color: #166534;
    font-weight: 600;
    margin-top: 10px;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 13px;
}
#product .left .productImg {
    width: 500px;
}
#product .left .zoom {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
#product .left .bottom {

}
#product .left .bottom ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#product .left .bottom ul li {

}
#product .left .bottom ul li img {
    width: 70px;
}


#product .right {
    flex: 0.5;
}
#product .right h2 {
    font-family: 'Inter24pt-Bold', sans-serif;
    font-size: 35px;
    margin-bottom: 15px;
}
#product .right .rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #6B7280;
}
#product .right .rating .stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}
#product .right .rating .stars li {

}
#product .right .rating .stars li img {
    width: 12px;

}
#product .right .rating span {
    font-family: 'Inter24pt-SemiBold';
    font-size: 13px;
    margin-right: 5px;
    border: 1px solid #6B7280;
    padding: 3px;
    border-radius: 4px;
}
#product .right .rating .review {
    font-family: 'Inter24pt-Regular',sans-serif;
    font-size: 12px;
    margin-right: 5px;
    color: #6B7280;
}
#product .right .rating div {
    font-family: 'Inter24pt-Regular', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #6B7280;
}
#product .right .rating div span {
    font-family: 'Inter24pt-Medium', sans-serif;
    color: #030712;
    border: none;
}
#product .right .aboutProduct {
    font-family: 'Inter24pt-Regular',sans-serif;
    font-size: 14px;
    color: #6B7280;
    padding-top: 20px;
    padding-bottom: 20px;
}
#product .right .rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}
#product .right .rate .offerRate {
    font-family: 'barlow-bold-webfont', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #DC2626;
    margin-right: 8px;
}
#product .right .rate .mrp {
    font-family: 'barlow-medium-webfont', sans-serif;
    font-size: 20px;
    color: #111827;
    text-decoration-line:line-through
}
#product .right .whatsapp {
    font-family: 'Inter24pt-Bold', sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #16A34A;
} 
#product .right .offer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    padding: 15px;
    background-color: #FFF7ED;
    border: 1px solid #FFEDD5;
    border-radius: 7px;
}
#product .right .offer h4 {
    font-family: 'Inter24pt-Bold';
    font-size: 13px;
    color: #C2410C;
    margin-right: 10px;
}
#product .right .offer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#product .right .offer ul li {
    font-family: 'Inter24pt-SemiBold', sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin: 0 5px;
    padding: 10px;
    border-radius: 7px;
    color: #C2410C;
    background-color: #FFEDD5;
    border: 1px solid #FED7AA;
}
#product .right .offer p {
    font-family: 'Inter24pt-Regular',sans-serif;
    margin-left: 10px;
    font-size: 11px;
    color: #6B7280;
}
#product .right .buttons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 30px;
}
#product .right .buttons .quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}
#product .right .buttons .quantity .minus {
    margin-right: 10px;
}
#product .right .buttons .quantity span {
    margin-right: 10px;
}
#product .right .buttons .quantity .plus {

}
#product .right .buttons .addToCart {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    background-color: #16A34A;
    padding: 10px 25px;
    color: #fff;
}
#product .right .buttons .addToCart img {
    margin-right: 10px;
}
#product .right .buttons .addToCart span {
    font-family: 'Inter24pt-Bold',sans-serif;
    font-size: 14px;
}
#product .right .buttons .buyNow {
    display: flex;
    flex-direction: row;
    background-color: #212529;
    color: #fff;
    padding: 10px 25px;
}
#product .right .buttons .buyNow img {
    margin-right: 10px;
}
#product .right .buttons .buyNow span {
    font-family: 'Inter24pt-Bold',sans-serif;
    font-size: 14px;
}


#product .right .more {
    font-family: 'Inter24pt-Bold', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}
#product .right .more .one {
    font-size: 13px;
    padding: 20px;
    border: 1px solid #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#product .right .more .one span {
    font-family: 'Inter24pt-Regular', sans-serif;
    font-size: 13px;
    padding-left: 20px;
}
#product .right .more .two {
    font-size: 13px;
    padding: 20px;
    border: 1px solid #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#product .right .more .two span {
    font-family: 'Inter24pt-Regular', sans-serif;
    font-size: 13px;
    padding-left: 20px;
}

#product .right .bottom {
    margin-top: 30px;
}
#product .right .bottom ul {
    display: flex;
    flex-direction: row;
}
#product .right .bottom ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 15px;
}
#product .right .bottom ul li img {
    border: 1px solid #E5E7EB;
    border-radius: 7px;
    margin-right: 10px;
    padding: 8px;
}
#product .right .bottom ul li span {
    font-family: 'Inter24pt-Medium',sans-serif;
    font-size: 13px;
}

/*About*/

#about {
    font-family: 'Inter24pt-Regular',sans-serif; 
    font-size: 14px; 
    margin-top: 70px;
}
#about .top {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E5E7EB;
}
#about .top .description {
    font-size: 16px;
    margin-right: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #4f4f4f;
}
#about .top .review {
    font-size: 16px;
}
#about .bottom {
    padding-bottom: 40px;
}
#about .bottom .one {
    padding-top: 20px;
    padding-bottom: 20px;
}

#relatedProducts {

}
#relatedProducts h3 {
    font-family: 'Inter24pt-Bold',sans-serif;
    font-size: 18px;
}
#products {
    width: 100%;
    display: flex;
   
    flex-direction: row;
    margin: 20px 0 50px 0;
}
#products .productCard {
    width: 16.6%;
    box-shadow: 0 0 0 1px rgba(214, 212, 212, 0.5);
    padding: 10px;
}
#products .productCard a {

}
#products .productCard .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: none;
}
#products .productCard .top .offer {
    font-family: 'Inter24pt-Bold', sans-serif;
    font-weight: 800;
    background-color: red;
    padding: 8px;
    color: #fff;
    border-radius: 7px;
    font-size: 12px;
}
#products .productCard .top .like {

}
#products .productCard h4 {
    font-family: 'Inter24pt-Medium', sans-serif;
    font-size: 13px;
    color: #000;
}
#products .productCard h4:hover {
    color: #6B7280;
}
#products .productCard .rating {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}
#products .productCard .rating  img {

}
#products .productCard .rating h6 {
    font-family: 'Inter24pt-Regular', sans-serif;
    margin-left: 10px;
}
#products .productCard .rate {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#products .productCard .offerRate {
    font-family: 'barlow-bold-webfont', sans-serif;
    color: #DC2626;
    font-size: 20px;
    font-weight: 600;
    margin-right: 5px;
}
#products .productCard .mrp {
    font-family: 'barlow-medium-webfont', sans-serif;
    color: #111827;
    font-size: 14px;
    text-decoration-line:line-through;
}
#products .productCard .bottom {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}
#products .productCard .bottom .cart {
    background-color: #16A34A;
    padding: 8px;
    border-radius:8px;
    margin-right: 10px;
}
#products .productCard .stock {
    font-family: 'Inter24pt-Bold', sans-serif;
    font-size: 11px;
    color: #16A34A;
}




/*Footer*/
footer {
    padding-top: 50px;
    
    background-color: #F3F4F6;
}
footer .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 60px;
    border-bottom: 1px solid #D1D5DB;
}
footer .top .left {
    text-align: left;
}
footer .top .left h5 {
    font-family: 'Inter24pt-Bold', sans-serif;
    font-size: 22px;
}
footer .top .left p {
    font-family: 'Inter24pt-Regular', sans-serif;
    font-size: 14px;
    margin-top: 8px;
    color: #6B7280;
}
footer .top .right {
    text-align: left;
}
footer .top .right .email-container {

}
footer .top .right .email-container img {
    position: relative;
    right: -35px;
    bottom: -4px;
}
footer .top .right .email-container input {
    font-family: 'Inter24pt-Regular', sans-serif;
    padding: 13px 150px 13px 40px;
    border: 1px solid #D1D5DB;
}
footer .top .right .email-container .submit-button {
    font-family: 'Inter24pt-Bold',sans-serif;
    padding: 14px;
    background-color: #634C9F;
    color: #fff;
    position: relative;
    left: -5px;
}
footer .top .right p {
    font-family: 'Inter24pt-Regular', sans-serif;
    font-size: 12px;
    position: relative;
    right: -20px;
    margin-top: 10px;
}

footer .middle {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #D1D5DB;
}
footer .middle .one {
    display: flex;
    flex-direction: column;

}
footer .middle .one .Q {

}
footer .middle .one .Q h4 {
    font-family: 'Inter24pt-SemiBold',sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
footer .middle .one .Q p {
    font-family: 'Inter24pt-Regular', sans-serif;
    margin-bottom: 40px;
    font-size: 13px;
    color: #6B7280;
}
footer .middle .one .phone {
    display: flex;
    flex-direction: row;
}
footer .middle .one .phone img {
    width: 30px;
    margin-right: 20px;
}
footer .middle .one .phone .phoneT {

}
footer .middle .one .phone .phoneT p {
    font-family: 'Inter24pt-Regular', sans-serif;
    font-size: 14px;
    color: #6B7280;
}
footer .middle .one .phone .phoneT h4 {
    font-family: 'Inter24pt-Bold', sans-serif;
    font-size: 20px;
}
footer .middle .one .email {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
footer .middle .one .email img {
    width: 30px;
    margin-right: 20px;
}
footer .middle .one .email .emailT {

}
footer .middle .one .email .emailT p {
    font-family: 'Inter24pt-Regular', sans-serif;
    font-size: 14px;
    color: #6B7280;
}
footer .middle .one .email .emailT h4 {
    font-family: 'Inter24pt-SemiBold', sans-serif;
    font-size: 14px;
}

footer .middle .two {
    display: flex;
    flex-direction: row;
}
#money {
    margin-right: 20px;
}
#money h4 {
    font-family: 'Inter24pt-SemiBold',sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}
#money ul {

}
#money ul li {
    margin-bottom: 5px;
}
#money ul li a {
    font-family: 'Inter24pt-Regular',sans-serif;
    font-size: 13px;
    color: #6B7280;
    
}


#help {
    margin-right: 20px;
}
#help h4 {
    font-family: 'Inter24pt-SemiBold',sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}
#help ul {

}
#help ul li {
    margin-bottom: 5px;
}
#help ul li a {
    font-family: 'Inter24pt-Regular', sans-serif;
    font-size: 13px;
    color: #6B7280;
}
#know {

}
#know h4 {
    font-family: 'Inter24pt-SemiBold',sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}
#know ul {

}
#know ul li {
    margin-bottom: 5px;
}
#know ul li a {
    font-family: 'Inter24pt-Regular',sans-serif;
    font-size: 13px;
    color: #6B7280;
}

footer .middle .three {

}
footer .middle .three .t {

}
footer .middle .three .t h4 {
    font-family: 'Inter24pt-SemiBold', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}
footer .middle .three .A {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
footer .middle .three .A img {
    margin-right: 10px;
}
footer .middle .three .A p {
    font-family: 'Inter24pt-Medium', sans-serif;
    font-size: 12px;
    color: #6B7280;
}
footer .middle .three .B {
    display: flex;
    flex-direction: row;
}
footer .middle .three .B img {
    margin-right: 10px;
}
footer .middle .three .B p {
    font-family: 'Inter24pt-Medium', sans-serif;
    font-size: 12px;
    color: #6B7280;
}
footer .middle .three .b {
    margin-top: 60px;
}
footer .middle .three .b h4 {
    font-size: 18px;
    font-weight: 600;
}
#social {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
#social h4 {
    font-family: 'Inter24pt-Regular',sans-serif;
    font-size: 14px;
}
#social ul {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
#social ul li {
    margin-right: 10px;
}
#social ul li a {
    
}
#social ul li a img {
    background-color: #fff;
    padding: 10px;
    border-radius: 7px;
}


footer .bottom {
    font-family: 'Inter24pt-Regular',sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .bottom .left {
    display: flex;
    flex-direction: column;
}
footer .bottom .left p {
    font-family: 'Inter24pt-Medium',sans-serif;
    font-size: 12px;
    color: #6B7280;
}
footer .bottom .left ul {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
footer .bottom .left ul li {
    margin-right: 10px;
}
footer .bottom .left ul li a {
    font-size: 14px;
    color: #6B7280;
}
footer .bottom .left ul li a img {

}


footer .bottom .right {

}
footer .bottom .right ul {
    display: flex;
    flex-direction: row;
}
footer .bottom .right ul li {
    margin-left: 10px;
}
footer .bottom .right ul li a {
    font-family: 'Inter24pt-Regular',sans-serif;
    font-size: 11px;
    color: #111827;
    text-decoration:underline
}



@media only screen and (max-width: 1024px) {
    .wrapper {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
    .global_notification {
        padding: 10px 80px;
    }
    .global_notification .left {
        font-size: 12px;
    }
    .global_notification .right {
        font-size: 12px;
    }
    .global_notification .right span {
        font-size: 16px;
    }
    header .top .left li a {
        font-size: 12px;
    }
    header .top .left .text {
        font-size: 12px;
    }
    header .top .left .text span {
        font-size: 14px;
    }
    header .top .right li a {
        font-size: 12px;
    }
    header .middle .logo {
        width: 100px;
    }
    header .middle .location{
        width: 18px;
    }
    header .middle .deliver span {
        font-size: 12px;
    }
    header .middle .deliver .bold {
        font-size: 14px;
    }
    #searchForm {
        width: 580px;
    }
    header .middle .right a img {
        width: 18px;
    }
    header .middle .right a span {
        font-size: 12px;
    }
    header .bottom .left ul li a {
        font-size: 14px;
    }
    header .bottom .right ul li a {
        font-size: 14px;
    }
    .head {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #product .right h2 {
        font-size:28px;
    }
    #product .right .aboutProduct {
        font-size: 12px;
    }
    #products {
        flex-wrap: wrap;
        align-content: center;
    }
    #products .productCard {
        width: 16.6%;
    }
    footer .top .left h5 {
        font-size: 18px;
    }
    footer .top .left p {
        font-size: 12px;
    }

    footer .top .right .email-container input {
        padding: 13px 100px 13px 40px;
    }
    footer .top .right .email-container .submit-button {
        padding: 12px;
    }
    footer .top .right p {
        font-size: 10px;
    }

}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
    }
    .global_notification {
        padding: 10px 35px;
    }
    .global_notification .left {
        font-size: 10px;
    }
    .global_notification .right {
        font-size: 10px;
    }
    .global_notification .right span {
        font-size: 14px;
    }
    header .top .left li a {
        font-size: 12px;
    }
    header .top .left .text {
        font-size: 12px;
    }
    header .top .left .text span {
        font-size: 13px;
    }
    header .top .right li a {
        font-size: 12px;
    }
    header .middle .logo {
        width: 100px;
    }
    header .middle .location{
        width: 16px;
    }
    header .middle .deliver span {
        font-size: 10px;
    }
    header .middle .deliver .bold {
        font-size: 12px;
    }
    #searchForm {
        width: 380px;
    }
    header .bottom .left ul li a {
        font-size: 12px;
    }
    header .bottom .right ul li a {
        font-size: 12px;
    }
    #product .left .productImg {
        width: 400px;
    }
    #about .top .description {
        font-size: 13px;
    }
    #about .top .review {
        font-size: 13px;
    }
    #about .bottom p {
        font-size: 12px;
    }
    footer .middle .one .Q h4 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    footer .middle .one .Q p {
        font-size: 10px;
    }
    footer .middle .one .phone img {
        width: 20px;
    }
    footer .middle .one .phone .phoneT p {
        font-size: 10px;
    }
    footer .middle .one .phone .phoneT h4 {
        font-size: 14px;
    }
    footer .middle .one .email img {
        width: 20px;
    }
    footer .middle .one .email .emailT p {
        font-size: 10px;
    }
    footer .middle .one .email .emailT h4 {
        font-size: 14px;
    }
    #money {
        margin-right: 10px;
    }
    #money h4 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    #money ul li a {
        font-size: 10px;
    }
    #help {
        margin-right: 10px;
    }
    #help h4 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    #help ul li a {
        font-size: 10px;
    }
    #know h4 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    #know ul li a {
        font-size: 10px;
    }
    footer .middle .three .t h4 {
        font-size: 12px;
        margin-bottom: 10px;
    }
    footer .middle .three .A img {
        width: 80px;
    }
    footer .middle .three .B img {
        width: 80px;
    }
    footer .middle .three .A p {
        font-size: 10px;
    }
    footer .middle .three .B p {
        font-size: 10px;
    }
    #social h4 {
        font-size: 12px;
    }
    #social ul li a img {
        padding: 8px;
    }
    footer .bottom .left p {
        font-size: 10px;
    }
    footer .bottom .right ul li a {
        font-size: 9px;
    }
    #product .right .buttons .addToCart {
        align-items: center;
        padding: 8px 15px;
    }
    #product .right .buttons .addToCart img {
        margin-right: 5px;
    }
    #product .right .buttons .addToCart span {
        font-size: 10px;
    }
    #product .right .buttons .buyNow {
        align-items: center;
        padding: 8px 15px;
    }
    #product .right .buttons .buyNow img {
        margin-right: 5px;
    }
    #product .right .buttons .buyNow span {
        font-size: 10px;
    }
    #product .right .offer {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        padding: 10px;
    }
    #product .right .offer h4 {
        margin-bottom: 5px;
    }
    #product .right .offer ul {
        margin-bottom: 5px;
    }
    #product .right .buttons {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #product .right .whatsapp {
        font-size: 12px;
    }
    #product .right h2 {
        font-size: 20px;
    }
    footer .bottom {
        padding-top: 30px;
        padding-bottom: 30px;
        align-items: flex-start;
    }
}
